.form_error{
	color: red;
	font-size: 13px;
}
.margin-top-50{
	margin-top: 50px;
}
.delete{
	background-color: red;
	color: #fff;
	padding: 5px;
}
.upload_img{
	height: 75px;
}
.upload,.history{
	padding: 5px;
	background-color: #eee;
	margin-bottom: 10px;
}
.history{
	min-height: 80px;
	padding-top: 25px;
}